/* ---------------------------------- Base ---------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Quicksand:wght@500;700&display=swap");
:link {
  text-decoration: none;
  list-style-type: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* background-color: rgba(212, 180, 160, 255);*/
  /*background-color: #cbc2b5;*/
  background-color: #e6dad1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-family: "Quicksand", sans-serif;
  color: #222222;
}

p {
  font-family: "Quicksand", sans-serif;
  color: #222222;
}

@font-face {
  font-family: brittany;
  src: url(/tipografia/brittany_signature/brittanysignature.ttf);
}
@font-face {
  font-family: nefelibata;
  src: url(/tipografia/nefelibatas-canva/nefelibata-brush.woff);
}
@font-face {
  font-family: amsterdam;
  src: url(/tipografia/amsterdam/amsterdam\.400.ttf);
}
/* ------------------------------- componentes ------------------------------ */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
}
.logo a {
  text-align: center;
}
.logo a img {
  width: 100%;
}

nav ul li a {
  color: black;
}

.menu .menu-1 {
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  list-style: none;
  text-align: center;
  font-size: 2.5rem;
  transition-property: all;
  transition-duration: 1s;
}
.menu .menu-1 .palabra1 {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 5px;
  transition: background-color 0.5s;
  border-radius: 30px;
}
.menu .menu-1 .palabra1:hover {
  background-color: white;
}
.menu .menu-1 .palabra2 {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 5px;
  transition: background-color 0.5s;
  border-radius: 30px;
}
.menu .menu-1 .palabra2:hover {
  background-color: white;
}
.menu .menu-1 .palabra3 {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 5px;
  transition: background-color 0.5s;
  border-radius: 30px;
}
.menu .menu-1 .palabra3:hover {
  background-color: white;
}
.menu .menu-1 .palabra4 {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 5px;
  transition: background-color 0.5s;
  border-radius: 30px;
}
.menu .menu-1 .palabra4:hover {
  background-color: white;
}
.menu .menu-1 .palabra5 {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 5px;
  transition: background-color 0.5s;
  border-radius: 30px;
}
.menu .menu-1 .palabra5:hover {
  background-color: white;
}

@media screen and (max-width: 1000px) {
  .menu .menu-1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 850px) {
  .logo a img {
    width: 60%;
  }

  .menu .menu-1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .menu {
    column-gap: 10px;
  }
  .menu .menu-1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .menu .menu-1 {
    font-size: 0.65rem;
  }
}
h2 a {
  color: black;
}

/* ------------------------------ intro + foto ------------------------------ */
.cuadro-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 75px;
}
.cuadro-intro .intro {
  padding: 10px;
  text-align: center;
  margin-left: 50px;
  background-color: rgba(163, 212, 198, 0.6901960784);
  border-radius: 20px;
}
.cuadro-intro .intro-foto {
  float: right;
  width: 100%;
  opacity: 70%;
}

.texto-objetivo {
  padding-top: 140px;
  margin-left: 20px;
}
.texto-objetivo .objetivo {
  text-align: left;
  font-weight: bolder;
  font-size: 230%;
}

.nuestro-planeta {
  padding: 150px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.nuestro-planeta .planeta {
  font-size: 300%;
  font-weight: bolder;
  text-align: center;
}
.nuestro-planeta .mundo {
  width: 50%;
}

/* ------------------------- imagenes link rulitips ------------------------- */
.preguntas {
  padding: 70px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.preguntas .mucho-frizz {
  width: 80%;
  text-align: center;
}
.preguntas .pelo-seco {
  width: 80%;
  text-align: center;
}
.preguntas .puntas {
  width: 80%;
  text-align: center;
}

/* ------------------------------- Marcas logo ------------------------------ */
.logos-productos .productos-index {
  margin-top: 80px;
  background-color: white;
  text-align: center;
  font-weight: bolder;
}
.logos-productos .grupo-logos {
  margin-top: 20px;
  text-align: center;
}
.logos-productos .grupo-logos .primerlogo {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: ". a . b  . c .";
}
.logos-productos .grupo-logos .primerlogo .logo1 {
  grid-area: a;
  width: 100%;
}
.logos-productos .grupo-logos .primerlogo .logo2 {
  grid-area: b;
  width: 100%;
}
.logos-productos .grupo-logos .primerlogo .logo3 {
  grid-area: c;
  width: 100%;
}
.logos-productos .grupo-logos .segundologo {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "d . e . f . g";
}
.logos-productos .grupo-logos .segundologo .logo4 {
  grid-area: d;
  width: 100%;
}
.logos-productos .grupo-logos .segundologo .logo5 {
  grid-area: e;
  width: 100%;
}
.logos-productos .grupo-logos .segundologo .logo6 {
  grid-area: f;
  width: 100%;
}
.logos-productos .grupo-logos .segundologo .logo7 {
  grid-area: g;
  width: 100%;
}
.logos-productos .grupo-logos .tercerlogo {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: ". a . b  . c .";
}
.logos-productos .grupo-logos .tercerlogo .logo8 {
  grid-area: a;
  width: 100%;
}
.logos-productos .grupo-logos .tercerlogo .logo9 {
  grid-area: b;
  width: 100%;
}
.logos-productos .grupo-logos .tercerlogo .logo10 {
  grid-area: c;
  width: 100%;
}

.cuerpo {
  padding-top: 100px;
}

.novedades {
  margin-left: 20px;
}

.carrusel-novedades {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.carousel-inner {
  border-radius: 20px;
}

.novedades-fotos {
  border-radius: 20px;
}

.nuestros-trabajos {
  margin-left: 20px;
}

.carrusel-trabajos {
  background-color: rgba(255, 255, 255, 0);
  margin: 10px 40px 20px 20px;
  border-radius: 20px;
}

.carouselCrossfade {
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
  .cuadro-intro {
    display: flex;
  }
  .cuadro-intro .intro {
    margin: 0 10px;
    font-size: 200%;
  }
  .cuadro-intro .intro-foto {
    padding-top: 280px;
    position: absolute;
    right: 1px;
    width: 60%;
    z-index: -1;
  }

  .texto-objetivo {
    padding-top: 300px;
  }
  .texto-objetivo .objetivo {
    font-size: 180%;
  }

  .nuestro-planeta .planeta {
    font-size: 175%;
  }
}
@media screen and (max-width: 850px) {
  .cuadro-intro .intro-foto {
    position: absolute;
    top: 230px;
  }

  .texto-objetivo .objetivo {
    font-size: 150%;
  }

  .nuestro-planeta {
    padding: 100px 0;
  }
  .nuestro-planeta .planeta {
    font-size: 175%;
  }

  .cuerpo {
    padding-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .cuadro-intro {
    padding-top: 10px;
  }
  .cuadro-intro .intro {
    font-size: 1rem;
  }
  .cuadro-intro .intro-foto {
    width: 60%;
    position: absolute;
    top: 26px;
  }

  .texto-objetivo {
    padding-top: 170px;
  }
  .texto-objetivo .objetivo {
    font-size: 84%;
  }

  .nuestro-planeta {
    padding: 50px 0;
  }
  .nuestro-planeta .planeta {
    margin-left: 20px;
    font-size: 100%;
  }

  .preguntas {
    padding: 10px 0 0 0;
  }

  .cuerpo {
    margin-top: 0px;
  }
}
@media screen and (max-width: 450px) {
  .cuadro-intro .intro-foto {
    width: 70%;
    position: absolute;
    top: -25px;
  }

  .texto-objetivo {
    padding-top: 140px;
    margin: 0 10px;
  }
}
.pie-pagina {
  width: 100%;
  margin-top: 180px;
  padding-top: 100px;
  background-image: url(/mancha-blanca.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -169px -15px;
}
.pie-pagina .grupo-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.pie-pagina .grupo-1 .box {
  display: flex;
  justify-content: space-between;
}
.pie-pagina .grupo-1 .box nav {
  display: flex;
  align-items: flex-end;
  margin: 10px;
}
.pie-pagina .grupo-1 .box nav .nav-footer {
  font-family: "Quicksand", sans-serif;
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-left: 10px;
}
.pie-pagina .grupo-1 .box .div-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 85px;
}
.pie-pagina .grupo-1 .box .div-logo img {
  width: 100%;
}
.pie-pagina .grupo-1 .box .div-insta {
  display: flex;
  align-items: flex-end;
}
.pie-pagina .grupo-1 .box .div-insta a {
  display: flex;
  justify-content: flex-end;
}
.pie-pagina .grupo-1 .box .div-insta img {
  width: 50%;
}
.pie-pagina .grupo-1 .box1 {
  display: flex;
  justify-content: flex-start;
}
.pie-pagina .grupo-1 .box2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .pie-pagina .grupo-1 .box nav .nav-footer {
    font-family: "Quicksand", sans-serif;
    list-style: none;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .pie-pagina .grupo-2 {
    padding: 5px 10px;
  }
  .pie-pagina .grupo-2 small {
    font-size: 10px;
  }
}
.titulo-rulipedia {
  color: rgb(61, 39, 34);
  background-color: rgba(255, 255, 255, 0);
  font-family: brittany;
  text-align: center;
  font-size: 800%;
  padding: 40px 0;
  letter-spacing: 2px;
  margin-bottom: 80px;
  margin-top: 40px;
}

section h3 {
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  padding-top: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: x-large;
}
section .cuadrado {
  background-color: white;
  margin: 0 10px;
  border-radius: 15px;
}
section .cuadrado p {
  text-align: justify;
  margin: 10px 20px 0 20px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 130%;
}
section .cuadrado p li {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  margin: 10px 20px 0 20px;
  padding: 10px 0;
}

.isla {
  margin-left: 20%;
}

.isla-reves {
  margin-right: 20%;
}

@media screen and (max-width: 1000px) {
  .titulo-rulipedia {
    font-size: 400%;
    padding-top: 35px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  section h3 {
    font-size: 110%;
  }
  section .cuadrado p {
    font-size: 100%;
  }
}
.cuerpo-contacto {
  padding-top: 100px;
}

.titulo-contacto {
  margin-bottom: 20px;
  margin-left: 20px;
}

.whats-app {
  margin-top: -20px;
  display: flex;
  align-content: center;
}
.whats-app h3 {
  text-align: center;
}
.whats-app a {
  margin-top: 25px;
}
.whats-app a img {
  width: 50px;
}

.mapa {
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 100%;
  }
}
.titulo-nuestros {
  color: rgb(61, 39, 34);
  background-color: rgba(255, 255, 255, 0);
  font-family: brittany;
  text-align: center;
  font-size: 800%;
  padding: 35px 0;
  letter-spacing: 2px;
  margin: 40px 0 50px 0;
}

#bekim {
  font-family: "Quicksand", sans-serif;
  font-size: 300%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

section .contenedor {
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  justify-items: center;
  align-items: center;
  grid-template-areas: "i1 i2 i3 i4" "t1 t2 t3 t4" "d1 d2 d3 d4" "i5 i6 i7 i8" "t5 t6 t7 t8" "d5 d6 d7 d8" "i9 i10 i11 ." "t9 t10 t11 ." "d9 d10 d11 .";
  margin: 20px;
  padding: 0 10px 10px;
  text-align: center;
}
section .contenedor img {
  width: 100%;
  margin-top: 30px;
}
section .contenedor p {
  font-weight: bolder;
  font-size: 150%;
}
section .contenedor button {
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  color: black;
  border-width: 0px;
  border-radius: 4px;
  padding: 2px 20px;
  background-color: #e6dad1;
  margin-top: 2px;
}
section .contenedor button :hover {
  background-color: lightblue;
}
section .contenedor .img1 {
  grid-area: i1;
}
section .contenedor .t1 {
  grid-area: t1;
}
section .contenedor .d1 {
  grid-area: d1;
}
section .contenedor .img2 {
  grid-area: i2;
}
section .contenedor .t2 {
  grid-area: t2;
}
section .contenedor .d2 {
  grid-area: d2;
}
section .contenedor .img3 {
  grid-area: i3;
  padding-top: 30%;
}
section .contenedor .t3 {
  grid-area: t3;
}
section .contenedor .d3 {
  grid-area: d3;
}
section .contenedor .img4 {
  grid-area: i4;
}
section .contenedor .t4 {
  grid-area: t4;
}
section .contenedor .d4 {
  grid-area: d4;
}
section .contenedor .img5 {
  grid-area: i5;
}
section .contenedor .t5 {
  grid-area: t5;
}
section .contenedor .d5 {
  grid-area: d5;
}
section .contenedor .img6 {
  grid-area: i6;
}
section .contenedor .t6 {
  grid-area: t6;
}
section .contenedor .d6 {
  grid-area: d6;
}
section .contenedor .img7 {
  grid-area: i7;
}
section .contenedor .t7 {
  grid-area: t7;
}
section .contenedor .d7 {
  grid-area: d7;
}
section .contenedor .img8 {
  grid-area: i8;
}
section .contenedor .t8 {
  grid-area: t8;
}
section .contenedor .d8 {
  grid-area: d8;
}
section .contenedor .img9 {
  grid-area: i9;
}
section .contenedor .t9 {
  grid-area: t9;
}
section .contenedor .d9 {
  grid-area: d9;
}
section .contenedor .img10 {
  grid-area: i10;
}
section .contenedor .t10 {
  grid-area: t10;
}
section .contenedor .d10 {
  grid-area: d10;
}
section .contenedor .img11 {
  grid-area: i11;
}
section .contenedor .t11 {
  grid-area: t11;
}
section .contenedor .d11 {
  grid-area: d11;
}

@media screen and (max-width: 1000px) {
  .titulo-nuestros {
    display: flex;
    justify-content: space-around;
    font-size: 240%;
    padding-top: 30px;
    margin-bottom: 0px;
  }

  #bekim {
    font-size: 150%;
  }

  section .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "i1 i2" "t1 t2" "d1 d2" "i3 i4" "t3 t4" "d3 d4" "i5 i6" "t5 t6" "d5 d6" "i7 i8" "t7 t8" "d7 d8" "i9 i10" "t9 t10" "d9 d10" "i11 ." "t11 ." "d11 .";
  }
  section .contenedor p {
    font-weight: bolder;
    font-size: 75%;
  }
}
.servicios {
  margin-top: 180px;
  padding: 0 50px 0 180px;
}
.servicios h2 {
  font-size: 300%;
}
.servicios p {
  font-size: 250%;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .servicios {
    margin-top: 120px;
    padding: 0 50px 0 100px;
  }
  .servicios h2 {
    font-size: 200%;
  }
  .servicios p {
    font-size: 150%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .servicios {
    margin-top: 100px;
    padding: 0 20px;
  }
  .servicios h2 {
    font-size: 150%;
    margin-bottom: 5px;
  }
  .servicios p {
    font-size: 100%;
    margin-bottom: 30px;
  }
}
.tips {
  padding: 0 50px 0 100px;
}
.tips h2 {
  display: inline;
  font-size: 300%;
  background-color: white;
}
.tips p {
  margin-top: 10px;
  font-size: 150%;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .tips {
    padding: 0 20px 0 20px;
  }
  .tips h2 {
    font-size: 150%;
    margin-bottom: 5px;
  }
  .tips p {
    font-size: 80%;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
