@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Quicksand:wght@500;700&display=swap");
:link {
  text-decoration: none;
}

body {
  background-color: rgb(212, 180, 160);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo a {
  text-align: center;
}
.logo a img {
  width: 70%;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.menu .menu-1 {
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  position: relative;
  top: -20px;
  font-size: 2em;
  margin-left: -10px;
  margin-bottom: -80px;
  text-align: center;
  transition-property: all;
  transition-duration: 1s;
}
.menu .menu-1 .palabra1 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
  color: black;
}
.menu .menu-1 .palabra1:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra2 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra2:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra3 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra3:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra4 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra4:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra5 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra5:hover {
  background-color: lightcoral;
}

@media screen and (max-width: 1000px) {
  .menu .menu-1 {
    font-family: "Quicksand", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    font-size: small;
    margin-top: 15px;
    background-color: lightblue;
    transition-property: all;
    transition-duration: 1s;
  }
}
@font-face {
  font-family: brittany;
  src: url(../Tipografía/brittany_signature/BrittanySignature.ttf);
}
@font-face {
  font-family: nefelibata;
  src: url(../Tipografía/Nefelibatas-canva/Nefelibata-Brush.woff);
}
@font-face {
  font-family: amsterdam;
  src: url(../Tipografía/Amsterdam/Amsterdam\ 400.ttf);
}
header h2 a {
  color: black;
}

.novedades {
  margin-top: 100px;
}

.carrusel-novedades {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.imagen_nuestros_trabajos {
  width: 30%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.pie-pagina {
  width: 100%;
  margin-top: auto;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box {
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
}
.pie-pagina .grupo-1 .box nav .nav-footer {
  font-family: "Quicksand", sans-serif;
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 150px;
  margin-left: -15px;
}
.pie-pagina .grupo-1 .box .div-logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.pie-pagina .grupo-1 .box .div-logo img {
  width: 75%;
}
.pie-pagina .grupo-1 .box .div-insta a {
  display: flex;
  justify-content: flex-end;
}
.pie-pagina .grupo-1 .box .div-insta img {
  width: 50%;
  padding-top: 250px;
  padding-right: 17px;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .pie-pagina .grupo-1 {
    width: 100%;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box {
    display: flex;
    justify-content: space-between;
    margin-bottom: -50px;
  }
  .pie-pagina .grupo-1 .box nav .nav-footer {
    font-family: "Quicksand", sans-serif;
    list-style: none;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 180px;
    margin-left: -15px;
  }
  .pie-pagina .grupo-1 .div-logo {
    display: none;
  }
  .pie-pagina .grupo-2 small {
    font-size: 10px;
  }
}
/*
.nav-footer {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    font-size: 1rem;
    margin-left: 10px;
    padding-bottom: 10px;
}


.logo-footer {
    width: 30%;
    display: flex;
    margin: auto;
    padding-top: 100px;
}

.instagram {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.instagram img {
    width: 100px;
}


*/
/* ---------------------------------- Media --------------------------------- */
/*
    @media screen and (max-width: 1000px) {
        div .logo-footer {
            display: none;
        }

        .instagram img {
            width: 50px;
            position: relative;
            bottom: -50px;
        }

        .estructura-footer {
            padding-top: 50px;
        }
    }

    */

/*# sourceMappingURL=style.css.map */
