/* ---------------------------------- Base ---------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Quicksand:wght@500;700&display=swap");
:link {
  text-decoration: none;
  list-style-type: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 180, 160);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
}

@font-face {
  font-family: brittany;
  src: url(/tipografia/brittany_signature/brittanysignature.ttf);
}
@font-face {
  font-family: nefelibata;
  src: url(/tipografia/nefelibatas-canva/nefelibata-brush.woff);
}
@font-face {
  font-family: amsterdam;
  src: url(/tipografia/amsterdam/amsterdam\.400.ttf);
}
/* ------------------------------- componentes ------------------------------ */
.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.logo a {
  text-align: center;
}
.logo a img {
  width: 70%;
}

nav ul li a {
  color: black;
}

.menu .menu-1 {
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  position: relative;
  top: -20px;
  font-size: 2em;
  margin-bottom: -80px;
  text-align: center;
  transition-property: all;
  transition-duration: 1s;
}
.menu .menu-1 .palabra1 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
  color: black;
}
.menu .menu-1 .palabra1:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra2 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra2:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra3 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra3:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra4 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra4:hover {
  background-color: lightcoral;
}
.menu .menu-1 .palabra5 {
  background-color: lightblue;
  padding: 10px 5px;
  transition: background-color 0.5s;
}
.menu .menu-1 .palabra5:hover {
  background-color: lightcoral;
}

@media screen and (max-width: 1000px) {
  .menu .menu-1 {
    font-family: "Quicksand", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    font-size: small;
    background-color: lightblue;
    transition-property: all;
    transition-duration: 1s;
  }
}
h2 a {
  color: black;
}

.cuadro-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 75px;
}
.cuadro-intro .intro {
  padding: 10px;
  text-align: center;
  margin-left: 50px;
  background-color: #F3E9DD;
  border-radius: 20px;
}
.cuadro-intro .intro-foto {
  width: 100%;
}

.cuerpo {
  padding-top: 100px;
}

.novedades {
  margin-left: 20px;
}

.carrusel-novedades {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.carousel-inner {
  border-radius: 20px;
}

.nuestros-trabajos {
  margin-left: 20px;
}

.carrusel-trabajos {
  background-color: rgba(255, 255, 255, 0);
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.carouselCrossfade {
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
  .cuadro-intro {
    display: inline;
  }
  .cuadro-intro .intro {
    position: relative;
    top: 100px;
    margin: 0 15px;
    font-size: 150%;
  }
  .cuadro-intro .intro-foto {
    position: absolute;
    top: 420px;
    right: 1px;
    width: 50%;
    opacity: 80%;
  }

  .cuerpo {
    margin-top: 240px;
  }
}
@media screen and (max-width: 850px) {
  .cuadro-intro .intro-foto {
    position: absolute;
    top: 465px;
    right: 1px;
  }

  .cuerpo {
    margin-top: 180px;
  }
}
@media screen and (max-width: 500px) {
  .cuadro-intro .intro-foto {
    position: absolute;
    top: 465px;
    right: 1px;
  }

  .cuerpo {
    margin-top: 30px;
  }
}
/*
@mixin display ($display, $justify) {
    display: $display;
    justify-content: $justify;
}
*/
.pie-pagina {
  width: 100%;
  margin-top: auto;
  padding-top: 100px;
  background-image: url(/multimedia/mancha-blanca.png);
  background-repeat: no-repeat;
  background-position: -380px 0px;
}
.pie-pagina .grupo-1 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.pie-pagina .grupo-1 .box {
  display: flex;
  justify-content: space-between;
}
.pie-pagina .grupo-1 .box nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box nav .nav-footer {
  font-family: "Quicksand", sans-serif;
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.pie-pagina .grupo-1 .box .div-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}
.pie-pagina .grupo-1 .box .div-logo img {
  width: 100%;
}
.pie-pagina .grupo-1 .box .div-insta {
  display: flex;
  align-items: flex-end;
}
.pie-pagina .grupo-1 .box .div-insta a {
  display: flex;
  justify-content: flex-end;
}
.pie-pagina .grupo-1 .box .div-insta img {
  width: 50%;
}
.pie-pagina .grupo-1 .box1 {
  display: flex;
  justify-content: flex-start;
}
.pie-pagina .grupo-1 .box2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .pie-pagina .grupo-1 .box nav .nav-footer {
    font-family: "Quicksand", sans-serif;
    list-style: none;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .pie-pagina .grupo-2 {
    padding: 5px 10px;
  }
  .pie-pagina .grupo-2 small {
    font-size: 10px;
  }
}
.titulo-rulipedia {
  color: rgb(88, 71, 67);
  background-color: #F3E9DD;
  font-family: brittany;
  text-align: center;
  font-size: 800%;
  padding-top: 20px;
  letter-spacing: 2px;
  margin-bottom: 60px;
  margin-top: 40px;
}

section h3 {
  font-family: "Quicksand", sans-serif;
  margin-left: 30px;
  padding-top: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: x-large;
}
section .cuadrado {
  background-color: rgb(238, 216, 189);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}
section .cuadrado p {
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
section .cuadrado p li {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.isla {
  margin-left: 20%;
}

.isla-reves {
  margin-right: 20%;
}

@media screen and (max-width: 1000px) {
  .titulo-rulipedia {
    font-size: 400%;
    padding-top: 30px;
    margin-bottom: 0px;
  }
}
.cuerpo-contacto {
  padding-top: 100px;
}

.titulo-contacto {
  margin-bottom: 20px;
  margin-left: 20px;
}

.whats-app {
  margin-top: -20px;
  display: flex;
  align-content: center;
}
.whats-app h3 {
  text-align: center;
}
.whats-app a {
  margin-top: 25px;
}
.whats-app a img {
  width: 50px;
}

.mapa {
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
