
/* ---------------------------------- Base ---------------------------------- */
@import "base/reset.scss";
@import "base/tipografia.scss";
@import "base/variantes.scss";

/* ------------------------------- componentes ------------------------------ */
@import "componets/navbar.scss";
@import "componets/index.scss";
@import "componets/footer.scss";
@import "componets/rulopedia.scss";
@import "componets/contacto.scss";

