.cuerpo-contacto {
    padding-top: 100px;
}

.titulo-contacto {
    margin-bottom: 20px;
    margin-left: 20px;
}

.whats-app {
    margin-top: -20px;
    display: flex;
    align-content: center;

    h3 {
        text-align: center;
    }

    a {
        margin-top: 25px;

        img {
            width: 50px;
        }
    }
}

.mapa {
    padding: 20px;
}

@media screen and (max-width: 1000px) {

    h2 {
        font-size: 100%;
    }
}