/*
@mixin display ($display, $justify) {
    display: $display;
    justify-content: $justify;
}
*/

.pie-pagina {
    width: 100%;
    margin-top: auto;
    padding-top: 100px;
    background-image: url(/mancha-blanca.png);
    background-repeat: no-repeat;
    background-position: -380px 0px;
    .grupo-1 {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;

        .box {
            @include display(flex, space-between);

            nav {
                display: flex;
                align-items: flex-end;

                .nav-footer {
                    font-family: 'Quicksand', sans-serif;
                    list-style: none;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: -18px;
                }
            }

            .div-logo {

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 90px
                }

                img {
                    width: 100%;
                }
            }

            .div-insta {
                display: flex;
                align-items: flex-end;

                a {
                    @include display(flex, flex-end);
                }

                img {
                    width: 50%;
                }
            }
        }

        .box1 {
            @include display(flex, flex-start);
        }

        .box2 {
            @include display(flex, flex-end);
            margin-right: 10px;
        }
    }



    .grupo-2 {
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: white;

        small {
            font-size: 15px;
        }
    }

}

@media screen and (max-width: 1000px) {

    .pie-pagina {

        .grupo-1 {
            .box {
                nav {
                    .nav-footer {
                        font-family: 'Quicksand', sans-serif;
                        list-style: none;
                        font-size: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }



        }

        .grupo-2 {
            padding: 5px 10px;

            small {
                font-size: 10px;
            }
        }
    }

}