header {
    h2 {
        a {
            color: black;
        }
    }
}


.novedades {
    margin-top: 100px;
    margin-left: 20px;
}

.carrusel-novedades {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 40px;
}

.nuestros-trabajos {
    margin-left: 20px;
}

.carrusel-trabajos {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 10px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
    
}