h2 {
    a {
        color: black;
    }
}

/* ------------------------------ intro + foto ------------------------------ */
.cuadro-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 75px;

    .intro {
        padding: 10px;
        text-align: center;
        margin-left: 50px;
        background-color: #F3E9DD;
        border-radius: 20px;
    }

    .intro-foto {
        float: right;
        width: 100%;
        opacity: 70%;
    }

}

/* ------------------------- imagenes link rulitips ------------------------- */
.preguntas {
    padding-top: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    .mucho-frizz {
        width: 70%;
        text-align: center;
    }

    .pelo-seco {
        width: 70%;
        text-align: center;
    }

    .puntas {
        width: 70%;
        text-align: center;
    }
}

/* ------------------------------- Marcas logo ------------------------------ */

.logos-productos {

    .productos-index {
        margin-top: 80px;
        background-color: white;
        text-align: center;
        font-weight: bolder;
    }

    .grupo-logos {
        margin-top: 20px;
        text-align: center;

        .primerlogo {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(7, 1fr);
            grid-template-areas:
                ". a . b  . c .";

            .logo1 {
                grid-area: a;
                width: 100%;
            }

            .logo2 {
                grid-area: b;
                width: 100%;
            }

            .logo3 {
                grid-area: c;
                width: 100%;
            }
        }

        .segundologo {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(7, 1fr);
            grid-template-areas:
                "d . e . f . g";

            .logo4 {
                grid-area: d;
                width: 100%;
            }

            .logo5 {
                grid-area: e;
                width: 100%;
            }

            .logo6 {
                grid-area: f;
                width: 100%;
            }

            .logo7 {
                grid-area: g;
                width: 100%;
            }
        }

        .tercerlogo {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(7, 1fr);
            grid-template-areas:
                ". a . b  . c .";

            .logo8 {
                grid-area: a;
                width: 100%;
            }

            .logo9 {
                grid-area: b;
                width: 100%;
            }

            .logo10 {
                grid-area: c;
                width: 100%;
            }
        }
    }
}


.cuerpo {
    padding-top: 100px;
}

.novedades {
    margin-left: 20px;
}

.carrusel-novedades {

    background-color: white;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.carousel-inner {
    border-radius: 20px;
}

.nuestros-trabajos {
    margin-left: 20px;
}

.carrusel-trabajos {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.carouselCrossfade {

    border-radius: 20px;
}

@media screen and (max-width: 1000px) {

    .cuadro-intro {
        display: inline;

        .intro {
            position: relative;
            top: 100px;
            margin: 0 15px;
            font-size: 150%;
        }

        .intro-foto {
            position: absolute;
            top: 420px;
            right: 1px;
            width: 50%;
            z-index: -1;

        }
    }

    .preguntas {
        padding-top: 400px;
    }
}

@media screen and (max-width: 850px) {

    .cuadro-intro {
        .intro-foto {
            position: absolute;
            top: 465px;
        }

        .cuerpo {
            padding-top: 20px;
        }
    }

    .preguntas {
        padding-top: 400px;
    }

}

@media screen and (max-width: 500px) {

    .cuadro-intro {
        .intro-foto {
            width: 70%;
            position: absolute;
            top: 400px;

        }
    }

    .logos-productos {
        .productos-index {
            margin-top: 30px;
        }
    }

    .preguntas {
        padding-top: 280px;
    }

    .cuerpo {
        margin-top: 0px;
    }
}