header {
    padding-top: 100px;

    h2 {
        a {
            color: black;
        }
    }
}

.cuadro-intro {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
    .intro {
        padding: 10px;
        text-align: center;
        margin-left: 50px;
        background-color: #F3E9DD;
        border-radius: 20px;
    }
.intro-foto{
    width: 100%;
}

}


.novedades {
    margin-top: 100px;
    margin-left: 20px;
}

.carrusel-novedades {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.carousel-inner {
    border-radius: 20px;
}

.nuestros-trabajos {
    margin-left: 20px;
}

.carrusel-trabajos {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.carouselCrossfade {

    border-radius: 20px;
}

@media screen and (max-width: 1000px) {}