.logo {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    a {
        text-align: center;
        img {
            width: 60%;
        }
    }
}

nav {
    ul {
        li {
            a {
                color: black;
            }
        }
    }
}


.menu {
    .menu-1 {
        padding: 0px;
        font-family: 'Quicksand', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        align-items: center;
        list-style: none;
        text-align: center;
        font-size: 2.5rem;
        transition-property: all;
        transition-duration: 1s;
        .palabra1 {
            @include palabras(rgba(255, 255, 255, 0), 10px 5px, background-color 0.5s);             
            border-radius: 30px;
            &:hover {
                background-color: white;
            }
        }

        .palabra2 {
            @include palabras(rgba(255, 255, 255, 0), 10px 5px, background-color 0.5s);
            border-radius: 30px;
            &:hover {
                background-color: white;
            }
        }

        .palabra3 {
            @include palabras(rgba(255, 255, 255, 0), 10px 5px, background-color 0.5s);
            border-radius: 30px;
            &:hover {
                background-color: white;
            }
        }

        .palabra4 {
            @include palabras(rgba(255, 255, 255, 0), 10px 5px, background-color 0.5s);
            border-radius: 30px;
            &:hover {
                background-color: white;
            }
        }

        .palabra5 {
            @include palabras(rgba(255, 255, 255, 0), 10px 5px, background-color 0.5s);
            border-radius: 30px;
            &:hover {
                background-color: white;
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    .menu {
            .menu-1 {
                font-size: 2rem;
            }
        
    }
}
@media screen and (max-width: 850px) {
    .logo {
        a {
            img {
                width: 60%;
            }
        }
    }
    .menu {
            .menu-1 {
                font-size: 1.5rem;
            }
        
    }
}

@media screen and (max-width: 650px) {

    .menu {
        column-gap: 10px;
            .menu-1 {
                font-size: 1rem;
            }
        
    }
}

@media screen and (max-width: 450px) {

    .menu {
            .menu-1 {
                font-size: 0.65rem;
            }
        
    }
}