.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

    a {
        text-align: center;

        img {
            width: 70%;
        }
    }
}


nav {
    ul {
        li {
            a {
                color: black;
            }
        }
    }
}


.menu {

    .menu-1 {
        padding: 0px;
        font-family: 'Quicksand', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        list-style: none;
        position: relative;
        top: -20px;
        font-size: 2em;
        margin-bottom: -80px;
        text-align: center;
        transition-property: all;
        transition-duration: 1s;

        .palabra1 {
            @include palabras(lightblue, 10px 5px, background-color 0.5s);
            color: black;

            &:hover {
                background-color: lightcoral;
            }
        }

        .palabra2 {
            @include palabras(lightblue, 10px 5px, background-color 0.5s);

            &:hover {
                background-color: lightcoral;
            }
        }

        .palabra3 {
            @include palabras(lightblue, 10px 5px, background-color 0.5s);

            &:hover {
                background-color: lightcoral;
            }
        }

        .palabra4 {
            @include palabras(lightblue, 10px 5px, background-color 0.5s);

            &:hover {
                background-color: lightcoral;
            }
        }

        .palabra5 {
            @include palabras(lightblue, 10px 5px, background-color 0.5s);

            &:hover {
                background-color: lightcoral;
            }
        }
    }

}

@media screen and (max-width: 1000px) {

    .menu {

            .menu-1 {
                font-family: 'Quicksand', sans-serif;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                justify-content: space-around;
                align-items: center;
                font-size: small;
                background-color: lightblue;
                transition-property: all;
                transition-duration: 1s;
            }
        
    }
}