.titulo-nuestros {
    color: $color-titulos;
    background-color: $color-fondo-titulos;
    font-family: brittany;
    text-align: center;
    font-size: 800%;
    padding: 35px 0;
    letter-spacing: 2px;
    margin: 40px 0 50px 0;
}

#bekim {
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buscador{
    display: flex;
    justify-content: center;


}

main {

        background-color: white;
        border-radius: 20px;
        margin: 20px;
        padding: 0 10px 10px;
        text-align: center;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        
        .producto{
            display: flex;
            justify-content: center;
            align-items: center;
            .card{
                border: none;
                .card-imagen{
                    .card-titulo{
                    font-size: 20px;
                    }
                }
                .card-contenido{
                    font-size: 10px;
                    .precio{
                        font-size: 15px;
                        font-style: italic;
                    }
                }
            }
        }
}

        img {
            width: 50%;
            margin-top: 30px;
        }
        p {
            font-weight: bolder;
            font-size: 150%;
        }


        button {
            font-family: 'Quicksand', sans-serif;
            font-size: medium;
            color: black;
            border-width: 0px;
            border-radius: 4px;
            padding: 2px 20px;
            background-color: #e6dad1;
            margin-top: 2px;

            :hover {
                background-color: lightblue;
            }
        }
    



@media screen and (max-width: 1000px) {

    .titulo-nuestros {
        display: flex;
        justify-content: space-around;
        font-size: 240%;
        padding-top: 30px;
        margin-bottom: 0px;
    }

    #bekim {
        font-size: 150%;
    }

    section {
        .contenedor {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "i1 i2"
                "t1 t2"
                "d1 d2"

                "i3 i4"
                "t3 t4"
                "d3 d4"

                "i5 i6"
                "t5 t6"
                "d5 d6"

                "i7 i8"
                "t7 t8"
                "d7 d8"

                "i9 i10"
                "t9 t10"
                "d9 d10"

                "i11 ."
                "t11 ."
                "d11 .";

            p {
                font-weight: bolder;
                font-size: 75%;
            }
        }
    }
}