* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.pie-pagina {

    width: 100%;
    margin-top: auto;
    padding-top: 100px;



    .grupo-1 {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        .box {
            display: flex;
            justify-content: space-between;

            nav {
                display: flex;
                align-items: flex-end;

                .nav-footer {
                    font-family: 'Quicksand', sans-serif;
                    list-style: none;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: -15px;
                }
            }

            .div-logo {

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 140px
                }

                img {
                    width: 75%;
                }
            }

            .div-insta {
                display: flex;
                align-items: flex-end;

                a {
                    display: flex;
                    justify-content: flex-end;
                }

                img {
                    width: 6rem;
                }
            }
        }

        .box1 {
            display: flex;
            justify-content: flex-start;
        }
        .box2 {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
        }
    }



    .grupo-2 {
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: white;

        small {
            font-size: 15px;
        }
    }

}

@media screen and (max-width: 1000px) {

    .pie-pagina {

        .grupo-1 {
            .box {
                nav {
                    .nav-footer {
                        font-family: 'Quicksand', sans-serif;
                        list-style: none;
                        font-size: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }

            .div-logo {
                display: none;
            }


        }

        .grupo-2 {
            padding: 5px 10px;

            small {
                font-size: 10px;
            }
        }
    }

}