header {
    h2 {
        a {
            color: black;
        }
    }
}


.novedades {
    margin-top: 100px;
    margin-left: 40px;
}

.carrusel-novedades {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.nuestros-trabajos{
    margin-left: 40px;
}

.imagen_nuestros_trabajos {
    width: 30%;
}

@media screen and (max-width: 1000px) {


}