@mixin display ($display, $justify) {
    display: $display;
    justify-content: $justify;
}

@mixin palabras ($fondo, $padding, $transition) {
    background-color: $fondo;
    padding: $padding;
    transition: $transition;
}

$color-titulos: rgb(61, 39, 34);
$color-fondo-titulos:rgba(255, 255, 255, 0);

@mixin area ($area, $width){
    grid-area: $area;
    width: $width;
}